:root{
    --fondo: #f1f1f1;
    --calculadoraFondo: #2C3639;
    --botonesFondo: #F4EFDA;
    --botonesFondoHover: #E2DDC8;
    --fondoCalculadora: #100F0F;
}

html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    background-color: var(--fondo);
}

.grid-container{
	display: grid;
	grid-template-areas: 
	"header"
	"main";
	height: 100vh;
}

header{
    grid-area: header;
    background-color: var(--calculadoraFondo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    box-shadow: 0px -3px 28px 20px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px -3px 28px 20px rgba(0,0,0,0.45);
-moz-box-shadow: 0px -3px 28px 20px rgba(0,0,0,0.45);
}

.redesSociales{
    padding: 0.8rem;
    font-size: 2.8rem;
    color: var(--botonesFondo);
    transition: color 0.08s;
}

.redesSociales:hover{
    color: var(--botonesFondoHover);
}

.calculadoraCuerpo{
    flex-direction: column;
    background-color: var(--calculadoraFondo);
    padding: 1.2rem;
    border-radius: 2rem;
    height: 510px;
    max-width: 500px;
    margin: 1rem;
}

.calculadora{
    grid-area: main;
    display: flex;
    align-content: center;
    justify-content: center;
}

.pantallaCuerpo{
    margin-bottom: 1.4rem;
}

.pantalla{
    border-radius: 1.2rem;
    padding: 1.2rem;
    width: calc(100% - 2.5rem);
    height: 100;
    background-color: var(--fondoCalculadora);
    color: var(--fondo);
    font-size: 2rem;
}

.botones{
    width: 100%;
    height: 410px;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    font-size: 2.8rem;
}

.boton, .botonC, .botonIgual, .botonOperacion, .borrar, .punto{
    width: 100%;
    background-color: var(--botonesFondo);
    border-radius: .8rem;
    cursor: pointer;
    border: none;
    transition: background-color .1s ease-in;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.botonC, .cero{
    grid-column: 1 / 3;
}

.boton:hover, .botonC:hover, .botonIgual:hover, .botonOperacion:hover, .borrar:hover, .punto:hover{
    box-shadow: inset -1rem -1rem 1.8rem var(--botonesFondoHover);
}

.boton:active, .botonC:active, .botonIgual:active, .botonOperacion:active, .borrar:active, .punto:active{
    box-shadow: inset 1rem 1rem 1.8rem var(--botonesFondoHover);
}

@media screen and (max-width: 980px){
    header{
        height: 2.4rem;
    }

    .redesSociales{
        font-size: 2rem;
    }
}
